/* Reset */
* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

/* IMPORTANT: Remove Vite default flex centering */
body {
  display: block;
}